DISCORD_TOKEN=your_bot_token_here
# (ไม่บังคับ) ใส่ Client Secret จาก Discord Developer Portal เพื่อรองรับ Authorization Code Grant + Refresh Token
DISCORD_CLIENT_SECRET=
EMBED_IMAGE_URL=https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExYmlzMHR0YXVuaTY5czdzODV4eTUxNWhkNG5ucWp1b3E5bWgxaDVmbiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/mlCb3AjEE6N4Q/giphy.gif
